#projects {
    background-image: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
    background-color: #64b3f4;
    text-align: center;
}

.item-link, .item-link:visited {
    color: #fff;
}

#projects .item-link {
    text-decoration-color: #64b3f4;
}