.project-link, .project-link:visited, .project-link:active {
    color: #fff;
    text-decoration-color: #9050fe;
}

.project-link:hover {
    color: #9050fe;
}

.project {
    margin: 10px 0;
}

.content li {
    font-size: 1.1rem;
}

.main-list {
    list-style: none;
}

.main-list > li::before {
    content: "\2666";  
    color: #28cbfd; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
}