@-webkit-keyframes animate-arrow {
    0% {
        transform: translateY(0px);
        color: rgba(255, 255, 255, 0.5);
    }
    25% {
        transform: translateY(-7px);
        color: rgba(255, 255, 255, 1);
        
    }
    75% {
        transform: translateY(-7px);
        color: rgba(255, 255, 255, 1);    
    }
    100% {
        transform: translateY(0px);
        color: rgba(255, 255, 255, 0.5);
    }
}
@-moz-keyframes animate-arrow {
    0% {
        transform: translateY(0px);
        color: rgba(255, 255, 255, 0.5);
    }
    25% {
        transform: translateY(-7px);
        color: rgba(255, 255, 255, 1);
        
    }
    75% {
        transform: translateY(-7px);
        color: rgba(255, 255, 255, 1);    
    }
    100% {
        transform: translateY(0px);
        color: rgba(255, 255, 255, 0.5);
    }
}
@-o-keyframes animate-arrow {
    0% {
        transform: translateY(0px);
        color: rgba(255, 255, 255, 0.5);
    }
    25% {
        transform: translateY(-7px);
        color: rgba(255, 255, 255, 1);
        
    }
    75% {
        transform: translateY(-7px);
        color: rgba(255, 255, 255, 1);    
    }
    100% {
        transform: translateY(0px);
        color: rgba(255, 255, 255, 0.5);
    }
}
@keyframes animate-arrow {
    0% {
        transform: translateY(0px);
        color: rgba(255, 255, 255, 0.5);
    }
    25% {
        transform: translateY(-7px);
        color: rgba(255, 255, 255, 1);
        
    }
    75% {
        transform: translateY(-7px);
        color: rgba(255, 255, 255, 1);    
    }
    100% {
        transform: translateY(0px);
        color: rgba(255, 255, 255, 0.5);
    }
}

#scroll-arrow-container {
    position: absolute;
    bottom: 2%;
    left: 50vw;
    text-align: center;
}

.fa-angle-up {
    transform: translateY(0px);
    font-size: 1.8rem;
    color: #fff;
    animation: animate-arrow 1.7s infinite;
}

@media(hover: hover) {
    #arrow:hover {
        color: rgba(4,56,99, 0.5);
    }
}
