.interest {
    margin: 10px;
}

.interest a, .interest a:visited, .interest a:active {
    color: #fff;
    text-decoration-color: #9050fe;
    margin: 10px 0;
}

.interest a:hover {
    text-decoration-color: #28cbfd;
}

#artist-list {
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    column-count: 2;
    column-gap: 0px;
    padding-inline-start: 10px;
}

@media(min-width: 768px) {
    #artist-list {
        -moz-column-gap: 10px;
        -webkit-column-gap: 10px;
        column-gap: 10px;
        padding-inline-start: 40px;
    }
}

#artist-list li {
    display: inline-block;
    width: 100%;
}

.sub-list {
    margin-bottom: 30px;
}
