#navigation {
    margin-left: auto;
    display: none;
}

#menu-icon {
    margin-left: auto;
    display: block;
}

.nav-link, .nav-link:visited, .nav-link:active {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    border-radius: 3px;
    padding: 5px 10px;
}

@media(hover: hover) {
    .nav-link:hover {
        background-color: rgba(255,255,255, 0.3);
}

}

.side {
    margin: 10px;
    text-decoration: none;
}

.MuiDrawer-paperAnchorRight {
    background-color: #000!important;
    padding: 20px;
    padding-top: 50px;
}

@media(min-width: 768px) {
    #navigation {
        display: block;
    }

    #menu-icon {
        display: none;
    }
}
