#intro {
    margin-top: 40px;
}

#intro-container {
    /* background-image: url('../../assets/images/Official.jpg'); */
    padding: 20px 24px;
}

#profile-picture-closed {
    width: 50%;
    border-radius: 50%;
}

#profile-picture-container {
    text-align: center;
    margin-top: 40px;
}

.intro-content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.1rem;
    height: auto;
}

.add-spacing {
    word-spacing: 0.2em;
}

#intro-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.65rem;
}

.intro-sub-text {
    margin: 5px;
}

@media(min-width: 768px) {
    #intro-content {
        width: 100%;
    }
    #profile-picture-closed {
        width: 35%;
    }
}