#intro-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

#profile-picture-closed {
    width: 50%;
    border-radius: 50%;
}

#profile-picture-container {
    text-align: center;
    margin-top: 40px;
}

.intro-content {
    width: 80%;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.1rem;
    height: auto;
}

.add-spacing {
    word-spacing: 0.2em;
}

#intro-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.65rem;
}

.intro-sub-text {
    margin: 5px;
}

@media(min-width: 300px) {
    #profile-picture-closed {
        width: 40%;
    }
}

@media(min-width: 600px) {
    #profile-picture-closed {
        width: 20%;
    }
}

@media(min-width: 768px) {
    #intro-content {
        width: 100%;
    }
    #profile-picture-closed {
        width: 35%;
    }
}

@media(max-height: 414px) {
    #profile-picture-closed {
        width: 140px;
        margin-top: 20px;
    }
}