#socials {
    text-align: center;
    margin: 30px 0;
    position: absolute;
    bottom: 10%;
}

.social-icon {
    color: #fff;
    font-size: 2rem;
}

@media(hover: hover) {
    .social-icon:hover {
        color: rgba(4,56,99, 0.5);
    }
}

