#certifications {
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    background-color: #b721ff;
    text-align: center;
}

.certification-link, .certification-link:visited, .certification-link:active {
    color: #fff;
    text-decoration-color: #9050fe;
    display: block;
    margin: 10px 0;
}

.certification-link:hover {
    text-decoration-color: #28cbfd;
}

.university {
    display: block;
    font-weight: bold;
    margin: 5px 0;
}

.more-certification-link {
    color: #fff;
    text-decoration-color: #9050fe;
    margin: 10px 0;
}

.more-certification-link:hover {
    text-decoration-color: #28cbfd;
}