#certifications {
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    background-color: #b721ff;
    text-align: center;
}

#certifications .item-link {
    text-decoration-color: #b721ff;
}