body {
  color: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Source Sans Pro', sans-serif;
  /* background-color: #6f86d6; */
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
    background-color: rgba(4,56,99, 0.5);
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    height: 100%;
}
