.section {
    padding: 50px 10px 90px 10px;
    overflow-x: hidden;
}

.sub-title {
    color: #fff;
    text-align: center;
    font-size: 3rem;
    margin: 20px 0;
}

.MuiGrid-grid-xs-12 {
    margin: 10px 0!important;
}

#intro-and-social {
    min-height: 100vh;
    background-image: linear-gradient(to top, #6f86d6 0%, #043863 100%);
}