.section {
    padding: 50px 10px 90px 10px;
    overflow-x: hidden;
    background-image: url('../../assets/images/overlay60.png');
    background-repeat: repeat;
    z-index: 2;
}

.sub-title {
    color: #fff;
    text-align: center;
    font-size: 3rem;
    margin: 20px 0;
}

.MuiGrid-grid-xs-12 {
    margin: 10px 0!important;
}

#intro-and-social {
    min-height: 560px;
    height: 95vh;
    position: relative;
    background-color: rgba(0,0,0,0);
}

@media(min-width: 960px) {
    #intro-and-social {
        height: 100vh;
    }
}